@charset "UTF-8";

.hero {
  height: 46rem;
  position: relative;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; ->    inset:0; */

  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 5;
}

.hero figure {
  top: 0;
  left: 0;
  position: absolute;
  /* border: 1px solid red; */
  animation: reveal-ani 1s;
}

.hero img {
  object-position: 50% 10%;
  /* 50% → X축 (가로 방향) 중앙
     10% → Y축 (세로 방향) 위쪽에서 10% 위치 */
}
.hero .inner {
  position: relative;
  /* 절대배치된  visual-title의 기준 */
  height: 100%;
  /* background: skyblue; */
  z-index: 10;
}
.visual-title {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%); /* trfty */
  /* background: red; */
  color: #fff;
  width: 69rem;
  width: 58.4745%;
}

.visual-title h2 {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 1.2;
  text-transform: uppercase; /* 대문자로 변경 */
}

.visual-title h2 strong {
  color: var(--main-color);
}
.visual-title p {
  font-weight: 500;
  font-size: 2rem;
  margin-top: 2.4rem;
}

.visual-title .cta {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 4rem;
  color: #fff;
  background: var(--main-color);
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 3.2rem;
}

.visual-title .cta:hover {
  background: var(--main-dark);
  color: #fff;
}
/*main 하위 섹션 전체 적용 (hero제외):2025.09.04 김수현 */

main > section + section {
  padding: 9rem 0 3rem;
}
main > section:last-child {
  padding-bottom: 12rem;
}

/* 사업소개 */
.business-list {
  display: flex;
  /* width: 118rem; */
  /* justify-content: space-between; */
  gap: 2rem;
}
.business-list li {
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid var(--black30);
  width: 28rem;
  width: 23.7288%;
  min-height: 30.2rem;
  padding: 2.8rem 3.2rem;
  flex: 1 1 clamp(28rem, 20vw, 474rem);
}
.business-list li dl dt {
  font-weight: 700;
  font-size: 2rem;
  color: var(--main-dark);
  /* flex-wrap: wrap; */
  line-height: 1.3;
  /* margin-bottom: 2rem; */
}
.business-list li dl dd {
  margin-top: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--text-color);
}
.business-list li dl dd:first-of-type {
  margin-top: 2rem;
}

/* works */

.sec-title {
  font-weight: 500;
  font-size: 3.2rem;
  color: var(--main-color);
}

.sec-title p {
  font-weight: 500;
  font-size: 2rem;
  margin-top: 0.4rem;
}

.works-list {
  display: flex;
  margin-top: 2.8rem;
  flex-wrap: wrap; /* fxww 줄바꿈 */
  /* width: calc(97%); */
  /* justify-content: center; */
}
.works-list li {
  flex: 1px 1px -50%;
  position: relative; /* 절대배치된 p의 기준 */
  overflow: hidden;
}
.works-list li figure {
  transition: 0.4s;
}
.works-list li:hover figure {
  transform: scale(1.3);
  filter: blur(10px);
}

.works-list li p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
  width: 90%;
}
.works-list li p strong {
  display: block;
  font-weight: 700;
}

/* news */
.news-con {
  display: flex;
  gap: 6rem;
  gap: 5.0847%;
}

.news-con .news-text {
  width: 48rem;
  width: 40.678%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.8rem;
}
.news-text h4 {
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--title-color);
}
.news-con figure {
  width: 64rem;
  width: 54.2373%;
}

/* column */

.column h4 {
  font-weight: 500;
  font-size: 2.8rem;
  color: var(--main-color);
}

.column h5 {
  font-weight: 700;
  font-size: 3.2rem;
  margin-top: 1.8rem;
  color: var(--title-color);
}

.column h5 p {
  margin-top: 1.8rem;
  column-count: 2; /* colc */
  text-align: justify; /* taj */
}

.column p + p {
  text-align: right;
  margin-top: 3rem;
}

.column p + p strong {
  display: block;
  font-weight: 700;
}

/* 반응형 디자인 */

/* 태블릿 */
@media (max-width: 1024px) {
  .hero {
    height: 64rem;
  }
  .visual-title {
    width: 46rem;
    width: 47.5207%;
    left: 6%;
  }

  .works-list {
    /* display: flex; */
    flex-wrap: wrap; /* fxww 줄바꿈 */
  }

  .works-list li {
    /* calc()를 사용하여 간격을 고려한 너비를 설정합니다. */
    width: calc(50% - 10px);
  }

  .business-list {
    flex-wrap: wrap;
  }
  .business-list li {
    /* /* width: 47.4rem; */
    width: 48.9669%;
    height: 28rem;
  }
  .news-con {
    gap: 2rem;
  }
  .news-con .news-text {
    width: 47.4rem;
    width: 48.9669%;
  }
  .news-con figure {
    width: 47.4rem;
    width: 48.9669%;
  }
  .column h5 + p {
    column-count: 1;
  }
}

@media (max-width: 900px) {
  .visual-title {
    width: 86%;
  }
  .works-list li {
    flex-basis: 100%;
  }
  .news-con {
    flex-direction: column;
  }
}

/* 모바일 */
@media (max-width: 390px) {
  .hero {
    height: 48rem;
    height: calc(100vh - 10rem);
  }
  .visual-title {
    width: 100%;
    text-align: center;
    left: 0;
  }
  .visual-title h2 {
    font-size: 3rem;
  }
  .business-list li {
    height: initial; /* 초기화 */
    height: auto;
  }

  .news-con .news-text,
  .news-con figure {
    width: 100%;
  }
}
